In [2]:
import sys
import numpy as np
import pandas as pd
print sys.version
print pd.__version__

2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]
0.17.1

In [3]:
pd.Index

pandas.core.index.Index

In [4]:
pd.Series

pandas.core.series.Series

In [5]:
series_ex = pd.Series(np.arange(26))

In [6]:
series_ex

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [7]:
series_ex.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [8]:
series_ex[2]

2

In [9]:
import string
lcase = string.ascii_lowercase
ucase = string.ascii_uppercase
print lcase, ucase

abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [10]:
lcase = list(lcase)

In [11]:
ucase = list(ucase)
print lcase
print ucase

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
series_ex

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [13]:
series_ex.index = lcase

In [14]:
series_ex

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [15]:
series_ex.ix['d':'l']

d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
dtype: int64

In [16]:
series_ex.ix['f']

5

In [17]:
pd.DataFrame

pandas.core.frame.DataFrame

In [20]:
letters = pd.DataFrame([lcase, ucase, range(26)])

In [21]:
letters

  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  d  e  f  g  h  i  j ...   q   r   s   t   u   v   w   x   y   z
1  A  B  C  D  E  F  G  H  I  J ...   Q   R   S   T   U   V   W   X   Y   Z
2  0  1  2  3  4  5  6  7  8  9 ...  16  17  18  19  20  21  22  23  24  25

[3 rows x 26 columns]

In [22]:
letters = letters.transpose()
letters.head()

   0  1  2
0  a  A  0
1  b  B  1
2  c  C  2
3  d  D  3
4  e  E  4

In [23]:
letters.columns

Int64Index([0, 1, 2], dtype='int64')

In [24]:
letters.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [25]:
letters.columns = ['lowercase', 'uppercase', 'number']

In [26]:
letters['lowercase']

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: lowercase, dtype: object

In [27]:
letters['number']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
Name: number, dtype: object

In [28]:
letters.index = pd.date_range('9/1/2012', periods=26)

In [29]:
letters

           lowercase uppercase number
2012-09-01         a         A      0
2012-09-02         b         B      1
2012-09-03         c         C      2
2012-09-04         d         D      3
2012-09-05         e         E      4
2012-09-06         f         F      5
2012-09-07         g         G      6
2012-09-08         h         H      7
2012-09-09         i         I      8
2012-09-10         j         J      9
2012-09-11         k         K     10
2012-09-12         l         L     11
2012-09-13         m         M     12
2012-09-14         n         N     13
2012-09-15         o         O     14
2012-09-16         p         P     15
2012-09-17         q         Q     16
2012-09-18         r         R     17
2012-09-19         s         S     18
2012-09-20         t         T     19
2012-09-21         u         U     20
2012-09-22         v         V     21
2012-09-23         w         W     22
2012-09-24         x         X     23
2012-09-25         y         Y     24
2012-09-26         z         Z     25

In [30]:
letters['9-10-2012':'9-15-2012']

           lowercase uppercase number
2012-09-10         j         J      9
2012-09-11         k         K     10
2012-09-12         l         L     11
2012-09-13         m         M     12
2012-09-14         n         N     13
2012-09-15         o         O     14