In [3]:
#matplotlib inline
import numpy as np
import sys
import pandas as pd
import matplotlib.pyplot as plt
print sys.version
print "pandas.version:", pd.__version__

 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]
pandas.version: 0.17.1

In [5]:
np_array = np.array([1,2,3,np.nan])

In [6]:
np_array

array([  1.,   2.,   3.,  nan])

In [7]:
np_array.mean()

nan

In [8]:
pd_series = pd.Series(np_array)

In [9]:
pd_series

0     1
1     2
2     3
3   NaN
dtype: float64

In [10]:
pd_series.mean()#pd will ignore the nan value

2.0

In [11]:
np.random.seed(567)

In [12]:
s1 = pd.Series(np.random.rand(5))

In [13]:
s1

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [14]:
s2 = pd.Series(np.random.rand(5))

In [15]:
s2

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [16]:
combo = pd.concat([s1, s2])
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [17]:
combo[0]#there are two value with the same index

0    0.304782
0    0.302074
dtype: float64

In [18]:
combo.index = range(combo.count())#reindex is over

In [19]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [20]:
combo.reindex([0,2,15,21], fill_value = 0)

0     0.304782
2     0.964709
15    0.000000
21    0.000000
dtype: float64

In [21]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [22]:
combo.reindex([0, 2, 15, 21])#without fill_value

0     0.304782
2     0.964709
15         NaN
21         NaN
dtype: float64

In [23]:
new_combo = combo.reindex([0, 2, 15, 21])

In [24]:
new_combo

0     0.304782
2     0.964709
15         NaN
21         NaN
dtype: float64

In [25]:
new_combo.ffill()#fix nan value with the last one

0     0.304782
2     0.964709
15    0.964709
21    0.964709
dtype: float64

In [26]:
new_combo.bfill()

0     0.304782
2     0.964709
15         NaN
21         NaN
dtype: float64

In [27]:
new_combo[21] = 5

In [28]:
new_combo

0     0.304782
2     0.964709
15         NaN
21    5.000000
dtype: float64

In [29]:
new_combo.bfill()#fix nan value with back first value

0     0.304782
2     0.964709
15    5.000000
21    5.000000
dtype: float64

In [30]:
new_combo

0     0.304782
2     0.964709
15         NaN
21    5.000000
dtype: float64

In [32]:
new_combo.fillna(12)#fix nan with specific value

0      0.304782
2      0.964709
15    12.000000
21     5.000000
dtype: float64

In [33]:
new_combo.fillna(new_combo.mean())

0     0.304782
2     0.964709
15    2.089830
21    5.000000
dtype: float64

In [34]:
s1

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [35]:
s2

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [36]:
s1+s2

0    0.606856
1    1.829264
2    1.670351
3    1.024912
4    1.542152
dtype: float64

In [37]:
s2.index = range(3, 8)

In [38]:
s2

3    0.302074
4    0.876231
5    0.705643
6    0.681150
7    0.548266
dtype: float64

In [39]:
s1

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [41]:
s2 + s1 # add based on index

0         NaN
1         NaN
2         NaN
3    0.645836
4    1.870117
5         NaN
6         NaN
7         NaN
dtype: float64

In [43]:
s1.reindex(range(5), fill_value = 0) + s2.reindex(range(5), fill_value = 3)

0    3.304782
1    3.953033
2    3.964709
3    0.645836
4    1.870117
dtype: float64

In [46]:
s1.reindex(range(10), fill_value = 0) + s2.reindex(range(10), fill_value = 3)

0    3.304782
1    3.953033
2    3.964709
3    0.645836
4    1.870117
5    0.705643
6    0.681150
7    0.548266
8    3.000000
9    3.000000
dtype: float64

In [47]:
s3 = pd.Series(range(1, 4), index=list('aac'))
s4 = pd.Series(range(1, 4), index = list('aab'))

In [48]:
s3

a    1
a    2
c    3
dtype: int64

In [49]:
s4

a    1
a    2
b    3
dtype: int64

In [50]:
s3+s4

a     2
a     3
a     3
a     4
b   NaN
c   NaN
dtype: float64

In [51]:
s3 * s4#each index with the same name will be compute

a     1
a     2
a     2
a     4
b   NaN
c   NaN
dtype: float64

In [52]:
s1_copy = s1.copy()

In [53]:
s1_copy

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [54]:
s1_copy[0]

0.30478164282048537

In [55]:
s1.map(lambda x : x ** 2)

0    0.092892
1    0.908272
2    0.930663
3    0.118172
4    0.987809
dtype: float64

In [56]:
s3

a    1
a    2
c    3
dtype: int64

In [57]:
s3.map({1:10, 2:30, 3:15})

a    10
a    30
c    15
dtype: int64

In [58]:
s3

a    1
a    2
c    3
dtype: int64

In [59]:
s3.map({1:10, 2:30})

a    10
a    30
c   NaN
dtype: float64

In [62]:
s3.hasnans

False

In [63]:
s3.map({1:10, 2:30}).hasnans

True